In [27]:
## Run the following code for data prep
import pandas as pd 

df=pd.read_csv('movie_ratings.csv' )

first_genre=df['genres'].str.split('|', expand=True)[0]
df['main_genre']=first_genre

df['title']=df['title'].str.strip()
df['year']=df['title'].str[-5:-1]
df=df[df['year'].str.isnumeric()]
df['year']=pd.to_numeric(df['year'])

In [28]:
r = df.groupby(['year', 'rating'])
r.first()

               movieId                                          title  \
year rating
1891 3.000000   129851                        Dickson Greeting (1891)
1893 3.375000    95541                        Blacksmith Scene (1893)
1894 2.714286    88674  Edison Kinetoscopic Record of a Sneeze (1894)
     3.428571    94951         Dickson Experimental Sound Film (1894)
1895 2.250000   113048           Tables Turned on the Gardener (1895)
...                ...                                            ...
2015 3.632075   119145            Kingsman: The Secret Service (2015)
     3.666667   127202          Me and Earl and the Dying Girl (2015)
     3.800000   127098    Louis C.K.: Live at The Comedy Store (2015)
     4.000000   127148                      The Hunting Ground (2015)
     4.500000   127206                  People, Places, Things (2015)

                                      genres          main_genre
year rating
1891 3.000000             (no genres listed)  (no genres listed)
1893 3.375000             (no genres listed)  (no genres listed)
1894 2.714286                    Documentary         Documentary
     3.428571                        Musical             Musical
1895 2.250000                         Comedy              Comedy
...                                      ...                 ...
2015 3.632075  Action|Adventure|Comedy|Crime              Action
     3.666667                          Drama               Drama
     3.800000                         Comedy              Comedy
     4.000000                    Documentary         Documentary
     4.500000                         Comedy              Comedy

[17632 rows x 4 columns]

In [29]:
df.tail()

,movieId,title,genres,rating,main_genre,year
26739,131254,Kein Bund für's Leben (2007),Comedy,4.0,Comedy,2007
26740,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.0,Comedy,2002
26741,131258,The Pirates (2014),Adventure,2.5,Adventure,2014
26742,131260,Rentun Ruusu (2001),(no genres listed),3.0,(no genres listed),2001
26743,131262,Innocence (2014),Adventure|Fantasy|Horror,4.0,Adventure,2014

In [30]:
df.groupby(["year", "rating"]).first().head(25)

               movieId                                              title  \
year rating
1891 3.000000   129851                            Dickson Greeting (1891)
1893 3.375000    95541                            Blacksmith Scene (1893)
1894 2.714286    88674      Edison Kinetoscopic Record of a Sneeze (1894)
     3.428571    94951             Dickson Experimental Sound Film (1894)
1895 2.250000   113048               Tables Turned on the Gardener (1895)
     4.000000   120869       Employees Leaving the Lumière Factory (1895)
1896 2.928571    96009                                   Kiss, The (1896)
     3.437500    98981                     Arrival of a Train, The (1896)
1898 2.500000   125978                                 Santa Claus (1898)
     3.000000   129849            Old Man Drinking a Glass of Beer (1898)
     3.750000    82337  Four Heads Are Better Than One (Un homme de tê...
     5.000000    94431                      Ella Lola, a la Trilby (1898)
1899 3.625000    82362  Pyramid of Triboulet, The (La pyramide de Trib...
1900 3.166667   117909                                    The Kiss (1900)
1901 5.000000    94737                       Boys Diving, Honolulu (1901)
1902 3.738189    32898  Trip to the Moon, A (Voyage dans la lune, Le) ...
1903 3.340909    49389                    Great Train Robbery, The (1903)
1905 2.500000   125996                             The Black Devil (1905)
1909 2.500000    93162  Moscow Clad in Snow (Moscou sous la neige) (1909)
     2.750000   120803                            Those Awful Hats (1909)
     3.000000   114371                           Lonely Villa, The (1909)
1910 2.500000   105776                             Trip to Mars, A (1910)
     3.466667    93865                                Frankenstein (1910)
     4.000000   109524  Woman Always Pays, The (Afgrunden) (Abyss, The...
1912 2.333333   114376                Musketeers of Pig Alley, The (1912)

                                        genres          main_genre
year rating
1891 3.000000               (no genres listed)  (no genres listed)
1893 3.375000               (no genres listed)  (no genres listed)
1894 2.714286                      Documentary         Documentary
     3.428571                          Musical             Musical
1895 2.250000                           Comedy              Comedy
     4.000000                      Documentary         Documentary
1896 2.928571                          Romance             Romance
     3.437500                      Documentary         Documentary
1898 2.500000                           Sci-Fi              Sci-Fi
     3.000000               (no genres listed)  (no genres listed)
     3.750000                          Fantasy             Fantasy
     5.000000               (no genres listed)  (no genres listed)
1899 3.625000                          Fantasy             Fantasy
1900 3.166667                          Romance             Romance
1901 5.000000                      Documentary         Documentary
1902 3.738189  Action|Adventure|Fantasy|Sci-Fi              Action
1903 3.340909                    Crime|Western               Crime
1905 2.500000                   Comedy|Fantasy              Comedy
1909 2.500000                      Documentary         Documentary
     2.750000                           Comedy              Comedy
     3.000000                      Crime|Drama               Crime
1910 2.500000                           Sci-Fi              Sci-Fi
     3.466667              Drama|Horror|Sci-Fi               Drama
     4.000000                            Drama               Drama
1912 2.333333                      Crime|Drama               Crime

In [31]:
# df.describe()
df.dtypes
# df[df['year'] == '1894']

movieId         int64
title          object
genres         object
rating        float64
main_genre     object
year            int64
dtype: object

In [32]:
r = df[df['year'] == 1894]
# df.head()
r['rating'].sum()

6.142857142857142

In [33]:
df.groupby("year").first()

,movieId,title,genres,rating,main_genre
year,,,,,
1891,129851,Dickson Greeting (1891),(no genres listed),3.000000,(no genres listed)
1893,95541,Blacksmith Scene (1893),(no genres listed),3.375000,(no genres listed)
1894,88674,Edison Kinetoscopic Record of a Sneeze (1894),Documentary,2.714286,Documentary
1895,113048,Tables Turned on the Gardener (1895),Comedy,2.250000,Comedy
1896,96009,"Kiss, The (1896)",Romance,2.928571,Romance
...,...,...,...,...,...
2011,82152,Beastly (2011),Drama|Fantasy|Romance,2.865132,Drama
2012,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,3.949486,Action
2013,95595,Bela Kiss: Prologue (2013),Horror|Mystery|Thriller,3.000000,Horror
2014,107209,The Outsider (2014),Action|Crime|Drama,2.666667,Action
2015,113345,Jupiter Ascending (2015),Action|Adventure|Sci-Fi,2.844156,Action

In [34]:
df['rating']

0        3.921240
1        3.211977
2        3.151040
3        2.861393
4        3.064592
           ...
26739    4.000000
26740    4.000000
26741    2.500000
26742    3.000000
26743    4.000000
Name: rating, Length: 26722, dtype: float64

In [35]:
g = df.groupby("year").count()
g
df['year'].value_counts()

2009    1101
2011    1006
2012     997
2013     990
2008     968
        ...
1899       1
1905       1
1902       1
1893       1
1903       1
Name: year, Length: 118, dtype: int64

What are the yearly rating averages?

In [36]:
year_rating = df.groupby("year")["rating"].mean().reset_index()
year_rating

     year    rating
0    1891  3.000000
1    1893  3.375000
2    1894  3.071429
3    1895  3.125000
4    1896  3.183036
..    ...       ...
113  2011  3.162567
114  2012  3.104176
115  2013  3.145056
116  2014  3.122809
117  2015  2.813146

[118 rows x 2 columns]

Which years have the top 3 rating averages. Are you surprised to see these years? What can potentially explain the fact that these years have the highest averages ?

In [37]:
year_rating.sort_values(by = ['rating'], ascending= False).head(3)

   year    rating
8  1901  5.000000
5  1898  3.850000
9  1902  3.738189

Sort years based the number of films produced. Is there a pattern? What can we say about the movie production rate over the years.

In [38]:
df.groupby(["year", "movieId"]).first().head(25)

                                                          title  \
year movieId
1891 129851                             Dickson Greeting (1891)
1893 95541                              Blacksmith Scene (1893)
1894 88674        Edison Kinetoscopic Record of a Sneeze (1894)
     94951               Dickson Experimental Sound Film (1894)
1895 113048                Tables Turned on the Gardener (1895)
     120869        Employees Leaving the Lumière Factory (1895)
1896 96009                                     Kiss, The (1896)
     98981                       Arrival of a Train, The (1896)
1898 82337    Four Heads Are Better Than One (Un homme de tê...
     94431                        Ella Lola, a la Trilby (1898)
     94657                      Turkish Dance, Ella Lola (1898)
     125978                                  Santa Claus (1898)
     129849             Old Man Drinking a Glass of Beer (1898)
1899 82362    Pyramid of Triboulet, The (La pyramide de Trib...
1900 117909                                     The Kiss (1900)
1901 94737                         Boys Diving, Honolulu (1901)
1902 32898    Trip to the Moon, A (Voyage dans la lune, Le) ...
1903 49389                      Great Train Robbery, The (1903)
1905 125996                              The Black Devil (1905)
1909 93162    Moscow Clad in Snow (Moscou sous la neige) (1909)
     114371                            Lonely Villa, The (1909)
     120803                             Those Awful Hats (1909)
1910 93865                                  Frankenstein (1910)
     105776                              Trip to Mars, A (1910)
     109524   Woman Always Pays, The (Afgrunden) (Abyss, The...

                                       genres    rating          main_genre
year movieId
1891 129851                (no genres listed)  3.000000  (no genres listed)
1893 95541                 (no genres listed)  3.375000  (no genres listed)
1894 88674                        Documentary  2.714286         Documentary
     94951                            Musical  3.428571             Musical
1895 113048                            Comedy  2.250000              Comedy
     120869                       Documentary  4.000000         Documentary
1896 96009                            Romance  2.928571             Romance
     98981                        Documentary  3.437500         Documentary
1898 82337                            Fantasy  3.750000             Fantasy
     94431                 (no genres listed)  5.000000  (no genres listed)
     94657                 (no genres listed)  5.000000  (no genres listed)
     125978                            Sci-Fi  2.500000              Sci-Fi
     129849                (no genres listed)  3.000000  (no genres listed)
1899 82362                            Fantasy  3.625000             Fantasy
1900 117909                           Romance  3.166667             Romance
1901 94737                        Documentary  5.000000         Documentary
1902 32898    Action|Adventure|Fantasy|Sci-Fi  3.738189              Action
1903 49389                      Crime|Western  3.340909               Crime
1905 125996                    Comedy|Fantasy  2.500000              Comedy
1909 93162                        Documentary  2.500000         Documentary
     114371                       Crime|Drama  3.000000               Crime
     120803                            Comedy  2.750000              Comedy
1910 93865                Drama|Horror|Sci-Fi  3.466667               Drama
     105776                            Sci-Fi  2.500000              Sci-Fi
     109524                             Drama  4.000000               Drama

In [39]:
df.groupby(["year", "title"]).first().head(25)

                                                         movieId  \
year title
1891 Dickson Greeting (1891)                              129851
1893 Blacksmith Scene (1893)                               95541
1894 Dickson Experimental Sound Film (1894)                94951
     Edison Kinetoscopic Record of a Sneeze (1894)         88674
1895 Employees Leaving the Lumière Factory (1895)         120869
     Tables Turned on the Gardener (1895)                 113048
1896 Arrival of a Train, The (1896)                        98981
     Kiss, The (1896)                                      96009
1898 Ella Lola, a la Trilby (1898)                         94431
     Four Heads Are Better Than One (Un homme de têt...    82337
     Old Man Drinking a Glass of Beer (1898)              129849
     Santa Claus (1898)                                   125978
     Turkish Dance, Ella Lola (1898)                       94657
1899 Pyramid of Triboulet, The (La pyramide de Tribo...    82362
1900 The Kiss (1900)                                      117909
1901 Boys Diving, Honolulu (1901)                          94737
1902 Trip to the Moon, A (Voyage dans la lune, Le) (...    32898
1903 Great Train Robbery, The (1903)                       49389
1905 The Black Devil (1905)                               125996
1909 Lonely Villa, The (1909)                             114371
     Moscow Clad in Snow (Moscou sous la neige) (1909)     93162
     Those Awful Hats (1909)                              120803
1910 Frankenstein (1910)                                   93865
     Trip to Mars, A (1910)                               105776
     Woman Always Pays, The (Afgrunden) (Abyss, The)...   109524

                                                                                  genres  \
year title
1891 Dickson Greeting (1891)                                          (no genres listed)
1893 Blacksmith Scene (1893)                                          (no genres listed)
1894 Dickson Experimental Sound Film (1894)                                      Musical
     Edison Kinetoscopic Record of a Sneeze (1894)                           Documentary
1895 Employees Leaving the Lumière Factory (1895)                            Documentary
     Tables Turned on the Gardener (1895)                                         Comedy
1896 Arrival of a Train, The (1896)                                          Documentary
     Kiss, The (1896)                                                            Romance
1898 Ella Lola, a la Trilby (1898)                                    (no genres listed)
     Four Heads Are Better Than One (Un homme de têt...                          Fantasy
     Old Man Drinking a Glass of Beer (1898)                          (no genres listed)
     Santa Claus (1898)                                                           Sci-Fi
     Turkish Dance, Ella Lola (1898)                                  (no genres listed)
1899 Pyramid of Triboulet, The (La pyramide de Tribo...                          Fantasy
1900 The Kiss (1900)                                                             Romance
1901 Boys Diving, Honolulu (1901)                                            Documentary
1902 Trip to the Moon, A (Voyage dans la lune, Le) (...  Action|Adventure|Fantasy|Sci-Fi
1903 Great Train Robbery, The (1903)                                       Crime|Western
1905 The Black Devil (1905)                                               Comedy|Fantasy
1909 Lonely Villa, The (1909)                                                Crime|Drama
     Moscow Clad in Snow (Moscou sous la neige) (1909)                       Documentary
     Those Awful Hats (1909)                                                      Comedy
1910 Frankenstein (1910)                                             Drama|Horror|Sci-Fi
     Trip to Mars, A (1910)                                                       Sci-Fi
     Woman Always Pays, The (Afgrunden) (Abyss, The)...                            Drama

                                                           rating  \
year title
1891 Dickson Greeting (1891)                             3.000000
1893 Blacksmith Scene (1893)                             3.375000
1894 Dickson Experimental Sound Film (1894)              3.428571
     Edison Kinetoscopic Record of a Sneeze (1894)       2.714286
1895 Employees Leaving the Lumière Factory (1895)        4.000000
     Tables Turned on the Gardener (1895)                2.250000
1896 Arrival of a Train, The (1896)                      3.437500
     Kiss, The (1896)                                    2.928571
1898 Ella Lola, a la Trilby (1898)                       5.000000
     Four Heads Are Better Than One (Un homme de têt...  3.750000
     Old Man Drinking a Glass of Beer (1898)             3.000000
     Santa Claus (1898)                                  2.500000
     Turkish Dance, Ella Lola (1898)                     5.000000
1899 Pyramid of Triboulet, The (La pyramide de Tribo...  3.625000
1900 The Kiss (1900)                                     3.166667
1901 Boys Diving, Honolulu (1901)                        5.000000
1902 Trip to the Moon, A (Voyage dans la lune, Le) (...  3.738189
1903 Great Train Robbery, The (1903)                     3.340909
1905 The Black Devil (1905)                              2.500000
1909 Lonely Villa, The (1909)                            3.000000
     Moscow Clad in Snow (Moscou sous la neige) (1909)   2.500000
     Those Awful Hats (1909)                             2.750000
1910 Frankenstein (1910)                                 3.466667
     Trip to Mars, A (1910)                              2.500000
     Woman Always Pays, The (Afgrunden) (Abyss, The)...  4.000000

                                                                 main_genre
year title
1891 Dickson Greeting (1891)                             (no genres listed)
1893 Blacksmith Scene (1893)                             (no genres listed)
1894 Dickson Experimental Sound Film (1894)                         Musical
     Edison Kinetoscopic Record of a Sneeze (1894)              Documentary
1895 Employees Leaving the Lumière Factory (1895)               Documentary
     Tables Turned on the Gardener (1895)                            Comedy
1896 Arrival of a Train, The (1896)                             Documentary
     Kiss, The (1896)                                               Romance
1898 Ella Lola, a la Trilby (1898)                       (no genres listed)
     Four Heads Are Better Than One (Un homme de têt...             Fantasy
     Old Man Drinking a Glass of Beer (1898)             (no genres listed)
     Santa Claus (1898)                                              Sci-Fi
     Turkish Dance, Ella Lola (1898)                     (no genres listed)
1899 Pyramid of Triboulet, The (La pyramide de Tribo...             Fantasy
1900 The Kiss (1900)                                                Romance
1901 Boys Diving, Honolulu (1901)                               Documentary
1902 Trip to the Moon, A (Voyage dans la lune, Le) (...              Action
1903 Great Train Robbery, The (1903)                                  Crime
1905 The Black Devil (1905)                                          Comedy
1909 Lonely Villa, The (1909)                                         Crime
     Moscow Clad in Snow (Moscou sous la neige) (1909)          Documentary
     Those Awful Hats (1909)                                         Comedy
1910 Frankenstein (1910)                                              Drama
     Trip to Mars, A (1910)                                          Sci-Fi
     Woman Always Pays, The (Afgrunden) (Abyss, The)...               Drama

Which genres are most liked ?

Which genres are most popular (in terms of production) ?

**Open Ended:** You are considering to invest in a movie. Having this dataset, try to narrow your options to a single genre. That's find the find the genre of movies that are more "investible". 

You can consider a few of parameters: 
 - average rating: it can be considered as the likelihood that the movie will be better received considering some genres have better ratings than others.  
 - number of movies: You can also consider the competition. 
 - changes over the years: Another aspect to explore is whether these genres are getting better or worse over the (recent) years. 
 - rating volatility (standard deviation): Also think about whether you are a risk taker or risk averse. Do you want to invest in a higly volitale genre (in terms of its ratings) or do you prefer to invest in a stable genre.   
 
While there are no wrong answers here, please support your decision with appropriate data analysis using pandas.