In [23]:
## Run the following code for data prep
import pandas as pd 

df=pd.read_csv('movie_ratings.csv' )

first_genre=df['genres'].str.split('|', expand=True)[0]
df['main_genre']=first_genre

df['title']=df['title'].str.strip()
df['year']=df['title'].str[-5:-1]
df=df[df['year'].str.isnumeric()]
df['year']=pd.to_numeric(df['year'])

In [24]:
r = df.groupby(['year', 'rating'])
r.first()

               movieId                                          title  \
year rating
1891 3.000000   129851                        Dickson Greeting (1891)
1893 3.375000    95541                        Blacksmith Scene (1893)
1894 2.714286    88674  Edison Kinetoscopic Record of a Sneeze (1894)
     3.428571    94951         Dickson Experimental Sound Film (1894)
1895 2.250000   113048           Tables Turned on the Gardener (1895)
...                ...                                            ...
2015 3.632075   119145            Kingsman: The Secret Service (2015)
     3.666667   127202          Me and Earl and the Dying Girl (2015)
     3.800000   127098    Louis C.K.: Live at The Comedy Store (2015)
     4.000000   127148                      The Hunting Ground (2015)
     4.500000   127206                  People, Places, Things (2015)

                                      genres          main_genre
year rating
1891 3.000000             (no genres listed)  (no genres listed)
1893 3.375000             (no genres listed)  (no genres listed)
1894 2.714286                    Documentary         Documentary
     3.428571                        Musical             Musical
1895 2.250000                         Comedy              Comedy
...                                      ...                 ...
2015 3.632075  Action|Adventure|Comedy|Crime              Action
     3.666667                          Drama               Drama
     3.800000                         Comedy              Comedy
     4.000000                    Documentary         Documentary
     4.500000                         Comedy              Comedy

[17632 rows x 4 columns]

In [25]:
df.tail()

,movieId,title,genres,rating,main_genre,year
26739,131254,Kein Bund für's Leben (2007),Comedy,4.0,Comedy,2007
26740,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.0,Comedy,2002
26741,131258,The Pirates (2014),Adventure,2.5,Adventure,2014
26742,131260,Rentun Ruusu (2001),(no genres listed),3.0,(no genres listed),2001
26743,131262,Innocence (2014),Adventure|Fantasy|Horror,4.0,Adventure,2014

In [26]:
df.groupby(["year", "rating"]).first().head(25)

               movieId                                              title  \
year rating
1891 3.000000   129851                            Dickson Greeting (1891)
1893 3.375000    95541                            Blacksmith Scene (1893)
1894 2.714286    88674      Edison Kinetoscopic Record of a Sneeze (1894)
     3.428571    94951             Dickson Experimental Sound Film (1894)
1895 2.250000   113048               Tables Turned on the Gardener (1895)
     4.000000   120869       Employees Leaving the Lumière Factory (1895)
1896 2.928571    96009                                   Kiss, The (1896)
     3.437500    98981                     Arrival of a Train, The (1896)
1898 2.500000   125978                                 Santa Claus (1898)
     3.000000   129849            Old Man Drinking a Glass of Beer (1898)
     3.750000    82337  Four Heads Are Better Than One (Un homme de tê...
     5.000000    94431                      Ella Lola, a la Trilby (1898)
1899 3.625000    82362  Pyramid of Triboulet, The (La pyramide de Trib...
1900 3.166667   117909                                    The Kiss (1900)
1901 5.000000    94737                       Boys Diving, Honolulu (1901)
1902 3.738189    32898  Trip to the Moon, A (Voyage dans la lune, Le) ...
1903 3.340909    49389                    Great Train Robbery, The (1903)
1905 2.500000   125996                             The Black Devil (1905)
1909 2.500000    93162  Moscow Clad in Snow (Moscou sous la neige) (1909)
     2.750000   120803                            Those Awful Hats (1909)
     3.000000   114371                           Lonely Villa, The (1909)
1910 2.500000   105776                             Trip to Mars, A (1910)
     3.466667    93865                                Frankenstein (1910)
     4.000000   109524  Woman Always Pays, The (Afgrunden) (Abyss, The...
1912 2.333333   114376                Musketeers of Pig Alley, The (1912)

                                        genres          main_genre
year rating
1891 3.000000               (no genres listed)  (no genres listed)
1893 3.375000               (no genres listed)  (no genres listed)
1894 2.714286                      Documentary         Documentary
     3.428571                          Musical             Musical
1895 2.250000                           Comedy              Comedy
     4.000000                      Documentary         Documentary
1896 2.928571                          Romance             Romance
     3.437500                      Documentary         Documentary
1898 2.500000                           Sci-Fi              Sci-Fi
     3.000000               (no genres listed)  (no genres listed)
     3.750000                          Fantasy             Fantasy
     5.000000               (no genres listed)  (no genres listed)
1899 3.625000                          Fantasy             Fantasy
1900 3.166667                          Romance             Romance
1901 5.000000                      Documentary         Documentary
1902 3.738189  Action|Adventure|Fantasy|Sci-Fi              Action
1903 3.340909                    Crime|Western               Crime
1905 2.500000                   Comedy|Fantasy              Comedy
1909 2.500000                      Documentary         Documentary
     2.750000                           Comedy              Comedy
     3.000000                      Crime|Drama               Crime
1910 2.500000                           Sci-Fi              Sci-Fi
     3.466667              Drama|Horror|Sci-Fi               Drama
     4.000000                            Drama               Drama
1912 2.333333                      Crime|Drama               Crime

In [27]:
# df.describe()
df.dtypes
# df[df['year'] == '1894']

movieId         int64
title          object
genres         object
rating        float64
main_genre     object
year            int64
dtype: object

In [28]:
r = df[df['year'] == 1894]
# df.head()
r['rating'].sum()

6.142857142857142

In [29]:
df.groupby("year").first()

,movieId,title,genres,rating,main_genre
year,,,,,
1891,129851,Dickson Greeting (1891),(no genres listed),3.000000,(no genres listed)
1893,95541,Blacksmith Scene (1893),(no genres listed),3.375000,(no genres listed)
1894,88674,Edison Kinetoscopic Record of a Sneeze (1894),Documentary,2.714286,Documentary
1895,113048,Tables Turned on the Gardener (1895),Comedy,2.250000,Comedy
1896,96009,"Kiss, The (1896)",Romance,2.928571,Romance
...,...,...,...,...,...
2011,82152,Beastly (2011),Drama|Fantasy|Romance,2.865132,Drama
2012,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,3.949486,Action
2013,95595,Bela Kiss: Prologue (2013),Horror|Mystery|Thriller,3.000000,Horror
2014,107209,The Outsider (2014),Action|Crime|Drama,2.666667,Action
2015,113345,Jupiter Ascending (2015),Action|Adventure|Sci-Fi,2.844156,Action

In [30]:
df['rating']

0        3.921240
1        3.211977
2        3.151040
3        2.861393
4        3.064592
           ...
26739    4.000000
26740    4.000000
26741    2.500000
26742    3.000000
26743    4.000000
Name: rating, Length: 26722, dtype: float64

In [31]:
g = df.groupby("year").count()
g
df['year'].value_counts()

2009    1101
2011    1006
2012     997
2013     990
2008     968
        ...
1899       1
1905       1
1902       1
1893       1
1903       1
Name: year, Length: 118, dtype: int64

What are the yearly rating averages?

In [32]:
year_rating = df.groupby("year")["rating"].mean().reset_index()
year_rating

     year    rating
0    1891  3.000000
1    1893  3.375000
2    1894  3.071429
3    1895  3.125000
4    1896  3.183036
..    ...       ...
113  2011  3.162567
114  2012  3.104176
115  2013  3.145056
116  2014  3.122809
117  2015  2.813146

[118 rows x 2 columns]

Which years have the top 3 rating averages. Are you surprised to see these years? What can potentially explain the fact that these years have the highest averages ?

In [33]:
year_rating.sort_values(by = ['rating'], ascending= False).head(3)

   year    rating
8  1901  5.000000
5  1898  3.850000
9  1902  3.738189

Sort years based the number of films produced. Is there a pattern? What can we say about the movie production rate over the years.

In [34]:
number_films = df.groupby("year")["rating"].count()
number_films.sort_values(ascending= False)

year
2009    1101
2011    1006
2012     997
2013     990
2008     968
        ...
1900       1
1901       1
1902       1
1905       1
1891       1
Name: rating, Length: 118, dtype: int64

In [35]:
# df.groupby(["year", "title"]).first().head(25)

Which genres are most liked ?

In [36]:
genre_liked = df.groupby("main_genre")["rating"].mean().reset_index()
genre_liked

            main_genre    rating
0   (no genres listed)  2.771531
1               Action  2.976834
2            Adventure  3.104184
3            Animation  3.167287
4             Children  2.888802
5               Comedy  3.090744
6                Crime  3.214546
7          Documentary  3.444347
8                Drama  3.276927
9              Fantasy  2.997350
10           Film-Noir  3.502881
11              Horror  2.604157
12                IMAX  2.533333
13             Musical  2.957358
14             Mystery  3.063586
15             Romance  3.013840
16              Sci-Fi  2.799310
17            Thriller  2.969432
18                 War  3.200764
19             Western  2.986815

In [37]:
highest_rated_genre = genre_liked.sort_values(by = ['rating'], ascending= False)
highest_rated_genre["main_genre"].reset_index(drop= True)

0              Film-Noir
1            Documentary
2                  Drama
3                  Crime
4                    War
5              Animation
6              Adventure
7                 Comedy
8                Mystery
9                Romance
10               Fantasy
11               Western
12                Action
13              Thriller
14               Musical
15              Children
16                Sci-Fi
17    (no genres listed)
18                Horror
19                  IMAX
Name: main_genre, dtype: object

Which genres are most popular (in terms of production) ?

In [56]:
# genre_count = df.groupby("year").head(3)

genre_count = df.groupby("main_genre").count()
genre_count = g.sort_values(by = ['rating'], ascending= False)
genre_count.loc[:, 'rating']

# df['year'].value_counts()

# df.groupby(["year", "rating"]).first().head(25)

# r = df[df['main_genre'] == 1894]
# # df.head()
# r['rating'].count()


# genre_count = df.groupby(['year'])
# genre_count.first()
# genre_count

main_genre
Drama                 7709
Comedy                6668
Action                3465
Documentary           2173
Crime                 1586
Horror                1366
Adventure             1330
Animation              560
Children               405
Thriller               275
(no genres listed)     233
Western                207
Sci-Fi                 162
Romance                143
Mystery                139
Fantasy                135
Musical                 92
Film-Noir               38
War                     35
IMAX                     1
Name: rating, dtype: int64

**Open Ended:** You are considering to invest in a movie. Having this dataset, try to narrow your options to a single genre. That's find the find the genre of movies that are more "investible". 

You can consider a few of parameters: 
 - average rating: it can be considered as the likelihood that the movie will be better received considering some genres have better ratings than others.  
 - number of movies: You can also consider the competition. 
 - changes over the years: Another aspect to explore is whether these genres are getting better or worse over the (recent) years. 
 - rating volatility (standard deviation): Also think about whether you are a risk taker or risk averse. Do you want to invest in a higly volitale genre (in terms of its ratings) or do you prefer to invest in a stable genre.   
 
While there are no wrong answers here, please support your decision with appropriate data analysis using pandas.

In [41]:
df['main_genre'].value_counts()

Drama                 7709
Comedy                6668
Action                3465
Documentary           2173
Crime                 1586
Horror                1366
Adventure             1330
Animation              560
Children               405
Thriller               275
(no genres listed)     233
Western                207
Sci-Fi                 162
Romance                143
Mystery                139
Fantasy                135
Musical                 92
Film-Noir               38
War                     35
IMAX                     1
Name: main_genre, dtype: int64

In [42]:
genre_liked

            main_genre    rating
0   (no genres listed)  2.771531
1               Action  2.976834
2            Adventure  3.104184
3            Animation  3.167287
4             Children  2.888802
5               Comedy  3.090744
6                Crime  3.214546
7          Documentary  3.444347
8                Drama  3.276927
9              Fantasy  2.997350
10           Film-Noir  3.502881
11              Horror  2.604157
12                IMAX  2.533333
13             Musical  2.957358
14             Mystery  3.063586
15             Romance  3.013840
16              Sci-Fi  2.799310
17            Thriller  2.969432
18                 War  3.200764
19             Western  2.986815

Considering the average ratings and number of movies made overall comparing "highest_rated_genre" and "genre_count". I would invest in Documentary genre as it has highest average ratings and highest number of movies made. Which gives us a better mean and is a safer bet compared with user preferences over all these years according to the dataset.

In [ ]:
# import matplotlib.pyplot as plt
# year_liked = df.groupby(["main_genre", "year"])["rating"].mean().reset_index()
# year_liked.head(50)