### Part 1

Create the areas list and answer the following questions

In [2]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

1- Print out second element from areas

In [9]:
areas[1]

11.25

2- Print out last element from areas

In [8]:
print(areas[-1])

9.5

3 - Print out the area of the living room

In [10]:
areas[5]

20.0

4 - Set the sum of kitchen and bedroom area to a new variable: eat_sleep_area (retrieve the kitchen and bedroom areas from the list instead of typing them manually)

In [12]:
eat_sleep_area = areas[3] + areas[7]
eat_sleep_area

28.75

5 - Create a new list that only has hallway and kitchen area (retrive the hallway and kitchen eareas from the areas list instead of typing them manually

In [13]:
new_list = [areas[1], areas[3]]
new_list

[11.25, 18.0]

6 - Hallway, kitchen and living room are on the first floor. Slice the areas list to show only the first floor elements

In [14]:
areas[0:6]

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

7 - Slice the areas to show the second floor only (there are only two floors)

In [15]:
areas[6:]

['bedroom', 10.75, 'bathroom', 9.5]

8- The bathroom area was given incorrectly. Change the bathroom area to 10.50

In [18]:
areas[-1] = 10.50
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

9 - Change "living room" to "chill zone"

In [20]:
areas[4] = "chill zone"
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

10 - Create a new list (areas2) that has all the values in areas and a new area called "poolhouse" that is 24.5

In [25]:
areas2 = areas + ["poolhouse", 24.5]
areas2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'poolhouse',
 24.5]

11 - Remove the "poolhouse" and its value from areas2

In [26]:
del areas2[-2:]
areas2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

### Part 2

Following dictionary shows the top 10 Female baby names in 2012

In [60]:
baby_names={1: 'EMMA', 2: 'LEAH', 3: 'SARAH',  4: 'SOPHIA', 5: 'ESTHER', 6: 'RACHEL',
 7: 'CHAYA', 8: 'AVA', 9: 'CHANA', 10: 'MIRIAM'}

1 - Using baby_names, write a script to print the rank of name  and the name. The first line should read:  "1. name is Emma"

In [29]:
for (key, values) in baby_names.items():
    print("{}. name is {}".format(key, values))

1. name is EMMA
2. name is LEAH
3. name is SARAH
4. name is SOPHIA
5. name is ESTHER
6. name is RACHEL
7. name is CHAYA
8. name is AVA
9. name is CHANA
10. name is MIRIAM

2 - Change the name in the 10th place to "Emily"

In [32]:
baby_names[10] = "Emily"
baby_names

{1: 'EMMA',
 2: 'LEAH',
 3: 'SARAH',
 4: 'SOPHIA',
 5: 'ESTHER',
 6: 'RACHEL',
 7: 'CHAYA',
 8: 'AVA',
 9: 'CHANA',
 10: 'Emily'}

3 - Create a "list" of names by extracting them from the dictionary

In [34]:
names = []
for values in baby_names.values():
    names.append(values)
names

['EMMA',
 'LEAH',
 'SARAH',
 'SOPHIA',
 'ESTHER',
 'RACHEL',
 'CHAYA',
 'AVA',
 'CHANA',
 'Emily']

4 - Find the ranking of Channa. You may need to loop through the dictionary until you find Channa in the dictionary.

In [37]:
for (key, values) in baby_names.items():
    if values.lower() == "chana":
        print(key)

9

5 - Given the morse code dictionary below. Decipher the following message

In [38]:
MORSE_CODE_DICT = {'.-': 'A','-...': 'B', '-.-.': 'C', '-..': 'D',
                   '.': 'E', '..-.': 'F', '--.': 'G', '....': 'H',
                   '..': 'I', '.---': 'J', '-.-': 'K', '.-..': 'L',
                   '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P',
                   '--.-': 'Q', '.-.': 'R', '...': 'S', '-': 'T',
                   '..-': 'U', '...-': 'V', '.--': 'W', '-..-': 'X',
                   '-.--': 'Y', '--..': 'Z', '.----': '1', '..---': '2',
                   '...--': '3', '....-': '4', '.....': '5', '-....': '6',
                   '--...': '7', '---..': '8', '----.': '9', '-----': '0',
                   '--..--': ', ', '.-.-.-': '.', '..--..': '?', '-..-.': '/',
                   '-....-': '-', '-.--.': '(', '-.--.-': ')'}

In [43]:
message=['--.', '.', '.', '-.-', '...', '-....-', '..-.', '---', '.-.', '-....-', '--.', '.', '.', '-.-', '...', ''] 
decoded_msg = ""
for char in message: 
    if len(char) > 0:
        print(MORSE_CODE_DICT[char])
        decoded_msg += MORSE_CODE_DICT[char]

decoded_msg

G
E
E
K
S
-
F
O
R
-
G
E
E
K
S

'GEEKS-FOR-GEEKS'

In [20]:
for item in message:
    print(MORSE_CODE_DICT.get(item))

G
E
E
K
S
-
F
O
R
-
G
E
E
K
S
None

6 - Bonus: Put "Ella" in the third place and update the list by lowering the rankings of everyone that would come after Ella. "Sarah" should be 4th, "Sophia" should be 5th ...

In [61]:
current_list=list(baby_names.values())
baby_names

{1: 'EMMA',
 2: 'LEAH',
 3: 'SARAH',
 4: 'SOPHIA',
 5: 'ESTHER',
 6: 'RACHEL',
 7: 'CHAYA',
 8: 'AVA',
 9: 'CHANA',
 10: 'MIRIAM'}

In [62]:
current_list

['EMMA',
 'LEAH',
 'SARAH',
 'SOPHIA',
 'ESTHER',
 'RACHEL',
 'CHAYA',
 'AVA',
 'CHANA',
 'MIRIAM']

In [63]:
current_list.insert(2, 'ELLA')
current_list

['EMMA',
 'LEAH',
 'ELLA',
 'SARAH',
 'SOPHIA',
 'ESTHER',
 'RACHEL',
 'CHAYA',
 'AVA',
 'CHANA',
 'MIRIAM']

In [64]:
for i in range(1,len(current_list)+1):
    baby_names[i]=current_list[i-1]

baby_names

{1: 'EMMA',
 2: 'LEAH',
 3: 'ELLA',
 4: 'SARAH',
 5: 'SOPHIA',
 6: 'ESTHER',
 7: 'RACHEL',
 8: 'CHAYA',
 9: 'AVA',
 10: 'CHANA',
 11: 'MIRIAM'}